<div class="page-header">
  <%= link_to hypothesis_path(@hypothesis), :method => :delete, data: {confirm: "Are you shure to delete '#{@hypothesis.short_name}'?"}, :class => 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-remove"></span>
    Delete
  <% end %>
  <%= link_to hypotheses_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_hypothesis_path(@hypothesis), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show hypothesis</h1>
</div>

<dl class="dl-horizontal">
  <dt>Short name:</dt>
  <dd><%= @hypothesis.short_name %></dd>

  <dt>State:</dt>
  <dd><%= @hypothesis.state %></dd>

  <dt>Business model part:</dt>
  <dd><%= @hypothesis.business_model_part %></dd>

  <dt>Hypotheses:</dt>
  <dd><%=@markdown.render(@hypothesis.hypotheses).html_safe %></dd>

  <dt>Experiment:</dt>
  <dd><%=@markdown.render(@hypothesis.experiment).html_safe %></dd>

  <dt>Pass fail criterion:</dt>
  <dd><%=@markdown.render(@hypothesis.pass_fail_criterion).html_safe %></dd>

  <hr>

  <dt>Created by:</dt>
  <dd><%= @hypothesis.author.name.to_s %></dd>

  <dt>Versions:</dt>
  <dd>
    <ol>
      <% @hypothesis.versions.each do |version| %>
        <li>
          <%= version.created_at.to_formatted_s(:short) %>
          <% user_who_made_the_change = User.find version.whodunnit.to_i %>
          <%= user_who_made_the_change.name %>
          <%= "<i>(Created)</i>".html_safe if version.event == "create" %>
          <%=link_to "Show", hypothesis_path(@hypothesis, version: version.next.created_at) if version.next %>
          <%=link_to "Live", hypothesis_path(@hypothesis) unless version.next %>
      </li>
      <% end %>
    </ol>
  </dd>

</dl>
